@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'uxiconfont';
	font-weight: normal;
	font-style: normal;
	src: 	url('uxiconfont.eot'); /* IE9*/
	src: 	url('uxiconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */  url('uxiconfont.woff') format('woff'), /* chrome、firefox */  url('uxiconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/  url('uxiconfont.svg#svgFontName') format('svg'); /* iOS 4.1- */
}

@-webkit-keyframes ball {
	from{ -webkit-transform:rotate(0deg); }
	to{ -webkit-transform:rotate(360deg); }
}

.sending{
	-webkit-animation-duration: 1s;
	-webkit-animation-name: ball;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-transform-origin:50% 50%;
}

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	color: #000;
	background: #fff;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
form {
	margin:0;
	padding:0;
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
	font-family:microsoft yahei;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	font-family:microsoft yahei;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
	display: inline-block;
 *display: inline;
 *zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body, button, input, select, textarea {
	font: 12px/1.5 microsoft yahei, "\5b8b\4f53", sans-serif;
	outline:none;
}
input, select, textarea {
	font-size: 100%;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
	border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
	text-align: inherit;
}
/* 去除默认边框 */
fieldset, img {
	border: 0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
	display: block;
}
/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
	border: 0;
	font-variant: normal;
}
/* 一致的 del 样式 */
del {
	text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol, ul {
	list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
	text-align: left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500;
}
q:before, q:after {
	content: '';
}
/* 统一上标和下标 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
	text-decoration: underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins, a {
	text-decoration: none;
	outline:none;
}
/* 清理浮动 */
.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fn-clear {
	zoom: 1;/* for IE6 IE7 */

}
/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
	display: none;
}
/* 设置内联, 减少浮动带来的bug */
.fn-left, .fn-right {
	display: inline;
}
.fn-left {
	float: left;
}
.fn-right {
	float: right;
}
/* 设置元素为内联*/
.fn-lump {
	display: inline-block;
	zoom: 1;
 *display: inline;
}
/* 设置元素可见 */
.fn-visible {
	visibility: visible;
}
/* 设置元素不可见 */
.fn-invisible {
	visibility: hidden;
}
/* 文本强制断行 */
.fn-brk {
	word-wrap: break-word;
	word-break: break-all;
}
a img {
	border:0;
}
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button, input {
 *overflow: visible;
	line-height: normal;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}
 input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
.fn-opacity-8 {
	opacity: .8;
	filter: alpha(opacity=80);
}
.fn-opacity-9 {
	opacity: .9;
	filter: alpha(opacity=90);
}
.fn-opacity-5 {
	opacity: .5;
	filter: alpha(opacity=50);
}
.fn-black-opacity {
	background: #131313;
	background: rgba(0, 0, 0, .8);
	filter: alpha(opacity=80);
}
.tpl-wrapper {
	width:960px;
	margin:0px auto;
}
.tpl-navtion {
	height: 35px;
	line-height: 35px;
	color:#fff;
	box-shadow:0px 5px 5px #3B8DD1;
}
.tpl-space {
	margin-top: 20px;
	margin-bottom: 20px;
	border:1px solid #cecece;
	background:#fff;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
	border-radius:6px;
}
.tpl-padSpace {
	padding: 20px 30px;
}
.tpl-side {
	width: 300px;
}
.tpl-side .tpl-size-zone, .tpl-content .tpl-content-zone {
	padding:10px 15px;
}
.tpl-content {
	width: 650px;
}
.tpl-sidebar {
	margin-bottom:20px;
}
.tpl-photo {
	border-radius:4px;
}
.tpl-button-blue {
	border: none;
	background-color: #1E7BB3;
	background-image: -webkit-linear-gradient(top, #3999D2, #1E7BB3);
	background-image: -moz-linear-gradient(top, #3999D2, #1E7BB3);
	background-image: -ms-linear-gradient(top, #3999D2, #1E7BB3);
	border-bottom: 1px solid #02598E;
	box-shadow: #BBB 0 1px 2px;
	text-shadow: #1E7BB3 0 -1px 0;
	border-radius:3px;
}
.tpl-button-green {
	border: none;
	background-color: #52A152;
	background-image: -webkit-linear-gradient(top, #5FBE5F, #52A152);
	background-image: -moz-linear-gradient(top, #5FBE5F, #52A152);
	background-image: -ms-linear-gradient(top, #5FBE5F, #52A152);
	border-bottom: 1px solid #417F41;
	text-shadow: #52A152 0 -1px 0;
	border-radius:3px;
}
.tpl-button-gray {
	border: none;
	background-color: #ccc;
	background-image: -webkit-linear-gradient(top, #ddd, #ccc);
	background-image: -moz-linear-gradient(top, #ddd, #ccc);
	background-image: -ms-linear-gradient(top, #ddd, #ccc);
	border-bottom: 1px solid #bbb;
	text-shadow: #ccc 0 -1px 0;
	border-radius:3px;
}
html {
	background:/*#E3E3E3*/#FFFCF0 url(../images/bg-body.gif) top left;
}
body {
	background: url(../images/header_bg.png) repeat-x 0px 35px;
}
a:link, a:visited {
	color:#3B8DD1;
	text-decoration:none;
}
a:hover {
	color:#8CAC52;
}

.fn-textoverhide{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

textarea {
	border:1px solid #dedede;
	border-radius:3px;
	width:100%;
	height:100%;
}
/*#navtion a, #navtion span{
	text-shadow:0px 1px 1px #555;
}*/

#navtion .tpl-wrapper .logo {
	float:left;
	width:300px;
	height:35px;
}
#navtion .tpl-wrapper .nav-list {
	float:left;
	margin-right:20px;
}
#navtion .tpl-wrapper .nav-list li {
	float:left;
}
#navtion .tpl-wrapper .nav-list li a {
	display:block;
	padding:0px 20px;
	height:26px;
	line-height:26px;
	margin-top:5px;
}
#navtion .tpl-wrapper .nav-list li a:link, #navtion .tpl-wrapper .nav-list li a:visited {
	color:#fff;
}
#navtion .tpl-wrapper .nav-list li a:hover {
	background: #000;
	border-radius:3px;
}
#navtion .tpl-wrapper .nav-user {
	float:right;
	height:35px;
	display:block;
}
#navtion .tpl-wrapper .nav-user span.name {
	float:left;
	padding:0px 10px;
}
#navtion .tpl-wrapper .nav-user a {
	float:left;
	padding:0px 10px;
	height:32px;
	color:#fff;
	position:relative;
	margin-top:3px;
	line-height:30px;
}
#navtion .tpl-wrapper .nav-user a ul {
	display:none;
	position:absolute;
	top:32px;
	right:0px;
}
#navtion .tpl-wrapper .nav-user a.item:hover {
	background:#000;
	color:#fff;
	border-radius:4px 4px 0px 0px;
}
#navtion .tpl-wrapper .nav-user a.item:hover ul {
	display:block;
	background:#000;
	padding:3px 5px;
	border-radius:0px 0px 4px 4px;
}
#navtion .tpl-wrapper .nav-user a.item:hover ul li {
	color:#fff;
	width:80px;
	text-align:center;
}
#footer .foot-zone {
	border-radius:8px 8px 0 0;
	padding:5px 0px;
	color:#666;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}

#footer .foot-zone a{ color:#999; text-decoration:underline;}
#footer .foot-zone .one {
	line-height:30px;
	color:#888;
}
#footer .foot-zone .two {
	line-height:30px;
	border-top:1px dotted #A19892;
	color:#888;
}
.iconfont {
	font-family:"uxiconfont";
	font-size:14px;
	font-style:normal;
}
#content {
	margin-top:150px;
}
#slogen {
	position:relative;
}
#slogen .Alogo {
	position:absolute;
	top:30px;
	left:0px;
	color:#fff;
	font-weight:bold;
	font-size:20px;
	text-shadow:0px 1px 1px #000
}
#slogen .Alogo .Blogo {
	color:#eee;
	padding-left:50px;
	font-size:14px;
	font-weight:normal;
	margin-top:20px;
}
#slogen .update {
	position:absolute;
	height:30px;
	line-height:30px;
	color:#D4A639;
	border:1px solid #F9F2A7;
	border-bottom:none;
	padding:0px 30px;
	background:#FEFFE5;
	top:120px;
	left:673px;
	border-radius:4px 4px 0 0;
	cursor:pointer;
	display:none;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	display: inline-block;
	line-height: 20px;
	color: #555555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
input[type="text"], input[type="password"] {
	padding:4px 6px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
h3 {
	font-weight:bold;
	margin:10px 0px;
	height:30px;
	line-height:30px;
}
.fixedMasker {
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.fixed {
	position:fixed;
	background:#fff;
	border-radius:4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.fixed .dialog {
	
}
.fixed .dialog .title {
	height:30px;
	padding:0px 15px;
	border-bottom:1px solid #ddd;
	background:#efefef;
	border-radius:4px 4px 0 0;
}
.fixed .dialog .title .mtitle {
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#000;
}
.fixed .dialog .title .close {
	line-height:30px;
}
.fixed .dialog .title .close:link, .fixed .dialog .title .close:visited {
	color:#ddd;
}
.fixed .dialog .title .close:hover {
	color:#ff0000;
}
.fixed .dialog .content {
	padding:15px;
	color:#666;
}
.fixed .dialog .bom {
	height:40px;
	padding:0px 15px;
	text-align:right;
}
.fixed .dialog .bom .tpl-button-blue {
	color:#fff;
	padding:4px 20px;
}
.fn-wordWrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
fieldset {
	border:1px solid #eee;
	border-radius:3px;
	padding:15px 20px;
	margin-bottom:20px;
}
fieldset legend {
	margin:0px 10px;
	padding:0px 5px;
	color:#1E7BB3;
	height:26px;
	line-height:26px;
}
fieldset p.info {
	color:#999;
	padding:0px 10px 10px 10px;
	text-indent:2em;
}
fieldset table {
	width:100%;
}
fieldset table td {
	height:26px;
	line-height:26px;
	padding:5px 10px;
	vertical-align: top;
}
fieldset table td.key {
	width:100px;
}
fieldset table td .info {
	color:#dcdcdc;
}
fieldset table td .info span {
	color: #E46650;
}
fieldset table td.keyvalue {
	text-align:left;
}
fieldset table td .long {
	width:400px;
}
fieldset table td .short {
	width:100px;
}
fieldset table td .longer {
	width:600px;
}
fieldset table td .shorter {
	width:50px;
}
table.table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table.table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table.table a:active,  table.table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table.table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.table th {
	padding:8px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top, #ededed, #ebebeb);
	text-align:center;
}
table.table th:first-child {
	text-align: left;
	padding-left:20px;
}
table.table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.table tr {
	text-align: center;
	padding-left:20px;
}
table.table tr td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.table tr td {
	padding:8px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
table.table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}
table.table tr:last-child td {
	border-bottom:0;
}
table.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.tabs{}
.tabs .tabs-navs{ height:31px; line-height:30px; border-bottom:1px solid #5FBE5F;}
.tabs .tabs-navs .fn-left{line-height:30px; padding:0px 10px; margin-right:5px; display:block; height:30px; border:1px solid #dedede; border-radius:3px 3px 0 0; border-bottom-color:#5FBE5F;}
.tabs .tabs-navs .current{ border-color:#5FBE5F; border-bottom-color:#fff;}
.tabs-content-html{ padding:20px;}
