.fn-left{
	float: left;
	display: inline;
}

.fn-right{
	float: right;
	display: inline;
}

/* 清理浮动 */
.fn-clear:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.fn-clear {
	zoom: 1;/* for IE6 IE7 */
}

.fn-hide {
	display: none;
}

/* 设置元素为内联*/
.fn-lump {
	display: inline-block;
	zoom: 1;
 	*display: inline;
}
/* 设置元素可见 */
.fn-visible {
	visibility: visible;
}
/* 设置元素不可见 */
.fn-invisible {
	visibility: hidden;
}
/* 文本强制断行 */
.fn-brk {
	word-wrap: break-word;
	word-break: break-all;
}

.fn-leftspace{
	margin-left: 10px;
}

.fn-rightspace{
	margin-right: 10px;
}