@charset "utf-8";
/* CSS Document */

li.comment-li{ margin-bottom:20px;}

.comment-zone{}
.comment-zone .comment-photo{}
.comment-zone .comment-photo .user-photo{ background:#fff; width:50px; height:50px; padding:5px; overflow:hidden;}
.comment-zone .comment-photo .user-photo img{ width:50px; height:50px; border-radius:3px;}
.comment-zone .comment-context{ margin-left:80px;}
.comment-zone .comment-context .comment-content{}
.comment-zone .comment-context .comment-content .comment-name{ height:28px; line-height:28px;}
.comment-zone .comment-context .comment-content .comment-word{ line-height:20px;}
.comment-zone .comment-context .comment-content .comment-else{ line-height:20px; margin-top:5px;}
.comment-zone .comment-context .comment-content .comment-else a{ margin-right:10px;}

.comment-children{ margin-top:10px;}
.comment-children .comment-children-area{ background:#fff; padding:10px 15px 0px 15px; margin-left:80px;}
.comment-children .comment-children-area li.comment-li{ padding-bottom:10px;}
.comment-children .comment-children-area li.comment-li .user-photo{ border:1px solid #eee;}