@charset "utf-8";
/* CSS Document */

.userlist{ margin-right:20px; margin-bottom:20px;}
.list .photo{
	background:#fff;
	margin-right:10px;
	padding:5px;
}
.list .photo img{ width:50px; height:50px;}
.list .info{}
.list .info .name{ height:30px; line-height:30px;}
.list .info .action{ height:20px; line-height:20px; }
.list .info .action a{ margin-right:5px;}

.search-submit{
	background-image:url(../img/icon-search-retina.png); width:20px; height:20px; border:none;
	background-repeat:no-repeat;
	background-size:16px 16px;
	background-color:transparent;
	background-position:0px 2px;
	margin-left:5px;
}