@charset "utf-8";
/* CSS Document */

.article{}
.write-zone{
	margin-right:270px;
}
.write-zone .log-title{
	margin-bottom:20px;
}
.write-zone .log-title input{
	width:95%;
	padding:5px inherit;
	text-align:center;
	color:#000;
}
.write-zone textarea{
	width:100%;
	height:550px;
}
.action-zone{
	width:250px;
}