@charset "utf-8";
/* CSS Document */

.plugin-zone{ padding:20px; }
.tabs-content-items-area{ padding:20px 25px;}

.tabs-content-items-area li{ margin-bottom:30px;}
.tabs-content-items-area li .pic{ float:left; width:60px; margin-right:20px;}
.tabs-content-items-area li .pic img{ width:60px; height:60px; border-radius:3px;}
.tabs-content-items-area li .info{ float:left;}
.tabs-content-items-area li .info .titles{ font-weight:bold; color:#000; height:20px; line-height:20px; margin-bottom:10px;}
.tabs-content-items-area li .info .msg{ font-size:12px; color:#666; margin-bottom:5px;}
.tabs-content-items-area li .info .author{ color:#ccc; margin-bottom:5px;}
.tabs-content-items-area li .info .tools a{ margin-right:10px; float:left;}
.tabs-content-items-area li .info .tools a span{ float:left; margin-right:3px; height:24px; line-height:24px;}
.tabs-content-items-area li .info .tools a span .icontext{}