@charset "utf-8";
/* CSS Document */

.login-box{
	width:300px;
	margin:0 auto;
	background:#fff;
	margin-top:200px;
}

.login-box .login-user{
	padding:20px;
}

.login-box .login-user img{
	border-radius:3px;
	width:50px;
	height:50px;
}

.login-box .login-user .imgs{ 
	margin-right:20px;
}

.login-box .login-user .action{
}

.login-box .login-user .action .name{
	 height:20px;
	 line-height:20px;
	 font-size:14px;
}

.login-box .login-user .action .put{
	margin-top:6px;
}

.login-box .login-user .action .pass{
	width:150px;
}
.login-box .login-user .action .submit{
	background-image:url(../img/icon-rebound-2x.png);
	background-repeat:no-repeat;
	background-size:16px 16px;
	background-color:#fff;
	width: 16px; height:16px;
	border:none;
	margin-left:5px;
}

.login-info{ display:none; padding:0px 20px 10px 20px; color:#777;}
.ui-footer{ display:none;}