@charset "utf-8";
/* CSS Document */

textarea{border-width:0px;color:#666;box-shadow:none;}
textarea:focus{ box-shadow:none;}

#user-info{ margin:20px 0px;}
#user-info .nick img{width: 50px;height: 50px;border-radius:4px;}
#user-info .nick{}
#user-info .nick .nickname{}

#user-info .toolaction{ margin:20px 0px 10px 0px;}
#user-info .toolaction a{ margin-right:20px; display:block; float:left; margin-bottom:10px;}

.nick-info{ margin-left:20px;}
.nick-info .nickname{font-weight:bold;height:20px;line-height:20px;margin-bottom:5px;}
.nick-info .sex{height:20px;line-height:20px;margin-bottom:5px;}
.nick-info .weibo{background-image:url(../images/icons_share.png);padding-left: 20px;background-repeat:no-repeat;height:24px;line-height:24px;}
.nick-info .weibo-qq{background-position: 0 -276px;}
.nick-info .weibo-sina{background-position: 0 -199px;}

#new-members .list{}
#new-members .list ul{}
#new-members .list ul li{float:left;margin-right:10px;margin-bottom:10px;width:30px;height:30px;overflow:hidden;}
#new-members .list ul li img{ border-radius:3px; width:30px; height:30px;}

.write-article-form{height:100px;padding:5px 10px;border:1px solid #dedede;border-radius:3px 3px 0px 3px;}
.write-article-form:focus, .write-article-form:hover{border-color:#3999D2;}
.write-tools{}
.write-tools .write-tools-list{height:30px;line-height:30px;color:#999;}
.write-tools .write-tools-list span{ margin-left:10px;}
.write-article-submit{width:120px;height:30px;font-size:14px;color:#fff;border-radius:0 0 3px 3px;cursor:pointer;}

.cus-list{margin-top:30px;}

.tabs{}
.tabs .tabs-navs{ height:31px; line-height:30px; border-bottom:1px solid #5FBE5F;}
.tabs .tabs-navs .fn-left{line-height:30px; padding:0px 10px; margin-right:5px; display:block; height:30px; border:1px solid #dedede; border-radius:3px 3px 0 0; border-bottom-color:#5FBE5F;}
.tabs .tabs-navs .current{ border-color:#5FBE5F; border-bottom-color:#fff;}
.tabs-content-html{ padding:20px;}

.tabs-content-weibo-list{}
.tabs-content-weibo-list .tabs-content-weibo-item{ border-bottom:1px dotted #ddd; padding-bottom:20px; margin-bottom:20px;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-img{ margin-right:20px;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-img img{ width:45px; height:45px; border-radius:4px;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-info{ width:515px; color:#666;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-info .attemds{ margin-top:20px;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-info .tools{ margin-top:20px;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-info .tools .time{ color:#ccc; font-size:11px;}
.tabs-content-weibo-list .tabs-content-weibo-item .tabs-content-weibo-item-info .tools .action a{ margin-right:5px; }

.side-list{}
.side-list .list{}
.side-list .list li{ padding:5px 0px; border-top:1px dashed #dedede;}
.side-list .list li .content{ margin-bottom:5px;}
.side-list .list li .info{}
.side-list .list li .info .fn-left{ color:#ccc; font-size:11px;}
.side-list .list li .info .fn-right{}
.side-list .list li .info .fn-right a:link, .side-list .list li .info .fn-right a:visited{ color:#ccc;}
.side-list .list li .info .fn-right a:hover{ color:#ccc;}
