@charset "utf-8";
/* CSS Document */

.ui-table table td a:link,
.ui-table table td a:visited{
	 color:#000;
}

.ui-table table td a:hover{
	color:#2ba09e;
}

.categoryList li{ background:#fff; padding:5px 10px; margin:0px 10px 10px 0px;}
td.action a{ margin-right:5px;}
td.action{ text-align:center;}
td.action a:last-child{ margin-right:0px;}