@charset "utf-8";
/* CSS Document */

.globalconfigure-zone{ padding:20px 30px;}
.globalconfigure-zone .submit-area{ padding:0px 20px;}
.globalconfigure-zone .submit-area .tpl-button-blue{ padding:5px 20px; color:#fff;}