@charset "utf-8";
/* CSS Document */

.article-zone{ padding:20px;}
.mem-list{}
.mem-list li{ float:left; width:180px; height:210px; }
.mem-list li .zone{ width:170px; height:200px; border:1px solid #ccc; overflow:hidden; border-radius:3px; box-shadow:0px 0px 10px #ccc;}
.mem-list li .zone .area{ padding:5px 8px;}
.mem-list li .zone .area .img{ width:153px; height:120px; overflow:hidden; text-align:center;}
.mem-list li .zone .area .img img{ width:150px; height:150px;}
.mem-list li .zone .area .info{ margin-top:10px;}
.mem-list li .zone .area .info .name{ height:30px; line-height:30px; text-align:center; font-weight:bold;}
.mem-list li .zone .area .tools{ height:30px; line-height:30px; text-align:center;}

.pagebar{ margin:15px 0px; height:20px; line-height:20px; float:right;}
.pagebar span{ display:block; float:left; padding:0px 8px; border:1px solid #fff;}
.pagebar a{ display:block; float:left; padding:0px 8px; border:1px solid #ddd; background:#efefef; border-radius:3px;}