@charset "utf-8";
/* CSS Document */

.theme-list{

}

.theme-list li{
	width: 220px;
	height: 190px;
	background-color: #fff;
	margin: 0px 20px 30px 0px;
	float: left;
	display: block;
}

.list-zone{ padding: 10px;}

.theme-list li .data-pic-view{
	width: 200px;
	height: 150px;
	overflow: hidden;
}

.theme-list li .data-pic-view img{ 
	width: 200px;
	border-radius: 3px;
}