@charset "utf-8";
/* CSS Document */
/*当前主题*/
.currentTheme{
	margin-bottom:20px;
}

.currentTheme .theme-preview{
	background:#fff;
	width:100px;
	height:100px;
	padding:5px;
	margin-right:15px;
}

.currentTheme .theme-preview img{
	width:100px;
	height:100px;
	border-radius:3px;
}
.currentTheme .theme-info{}
.currentTheme .theme-info .name{
	height:30px;
	line-height:30px;
	font-size:14px;
}
.currentTheme .theme-info .version{
	height:20px; line-height:20px;
}
.currentTheme .theme-info .url{
	height:20px; line-height:20px;
}
.currentTheme .theme-info .infos{
	line-height:20px;
	margin-top:10px;
}

.current-theme-style{}
.current-theme-style .title{
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ddd;
}
.current-theme-style .list{
	margin-top:10px;
}

.current-theme-style .list li{
	padding:5px;
	background-color:#fff;
	cursor:pointer;
	margin:0px 10px 10px 0px;
}

.current-theme-style .list li.current{
	background-color:#CF4467;
}

/*主题列表*/
.theme-list{}

.theme-list li{
	margin:0px 0px 20px 0px;
}
.theme-list li .theme-list-preview{
	width:100px;
	height:100px;
	padding:5px;
	background:#fff;
}
.theme-list li .theme-list-preview img{
	width:100px;
	height:100px;
}
.theme-list li .theme-list-info{
	line-height:18px;
	padding-left:140px;
}

.theme-list li:hover .theme-list-info{
	background-color:#fff;
	border-radius:3px;
	box-shadow:1px 1px 5px rgba(0, 0, 0, .097);
}
.theme-list li .theme-list-info .name{ 
	font-size:14px;
	height:30px;
	line-height:30px;
}
.theme-list li .theme-list-info .name span{
	font-size:12px;
}
.theme-list li .theme-list-info .date{}
.theme-list li .theme-list-info .author{}
.theme-list li .theme-list-info .info{
	margin-top:0px;
	margin-bottom:4px;
	height:18px;
	width:500px;
}
.theme-list li .theme-list-info .action{}
.theme-list li .theme-list-info .action a{ margin-right:10px;}

.activing:link,
.activing:visited{
	color:#CF4467;
}