@charset "utf-8";
/* CSS Document */
.long{ width:400px;}
.longer{ width:500px;}
.short{ width:200px;}
.shorter{ width:50px;}

.configure-list{ 
	padding:10px 15px;
	margin-bottom:20px;
	width:90%;
}
.configure-list legend{ 
	font-size:14px;
	height:30px;
	font-size:14px;
}

.configure-list table td{ padding:10px;}
.configure-list .info{ color:#999; }