@charset "utf-8";
/* CSS Document */
.long{ width:400px;}
.longer{ width:500px;}
.short{ width:200px;}
.shorter{ width:50px;}

.configure-list{ 
	margin-bottom:20px;
}
.configure-list legend{ 
	font-size:14px;
	height:30px;
	font-size:14px;
}

.configure-list table td{ padding:10px;}
.configure-list .info{ color:#999; }

.con-name{ width:100px; padding:10px; background:#fff; text-align:center;}
.configs{ margin-right:150px; background:#fff; padding:10px;}