/*====================================================
=========== 作者：林肆 （林肆随笔）       ============
=========== 地址：http://www.lsnote.com   ============
=========== 邮箱：xiaoxiandoc@163.com     ============
====================================================*/

@charset "utf-8";

.pj-zone{
    width:980px;margin:0 auto;}
.pj-wrapper{ 
    width:980px;margin:0 auto;}
.pj-footer{ width:980px;border-top:1px solid #ccc;padding:10px 0px 20px 0px;}
.pj-footer a:link, .pj-footer a:visited{ color:#333;}
.pj-footer a:hover{ color:#08d;}

.pj-top{ height:135px;position:relative;border-bottom:2px solid #08d;}
.pj-top .pj-title{ position:absolute;left:10px;top:18px; font-size:24px;color:#666;}
.pj-top .pj-title a{color:#555;}
.pj-top .pj-title a:hover{color:#888;}
.pj-top .pj-title .pj-info{ font-size:12px;color:#888; font-style:normal; font-weight:normal;}

.pj-top .pj-nav{ 
    width:685px;margin-top:90px;position:absolute;height:30px;font-size:15px;}
.pj-top .pj-nav ul.nav-ul-one{ height:30px; display:block;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one{ float:left; line-height:30px; position:relative;margin-right:10px;border:1px solid #ccc;border-radius:4px;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one a{
    padding:0px 20px; display:block;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one a.current{color:#08d;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one a:link{color:#333;} 
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one a:visited{;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one a:hover{color:#fff;background:#08d;text-decoration:none; }
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one:hover ul.nav-ul-two{ display:block;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one ul.nav-ul-two{ background:#fff; margin-top:1px; border:1px solid #ddd; display:none; position:absolute; top:30px; left:0px;width:100%; box-shadow:0px 1px 5px #ddd; border-radius:4px; }
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one ul.nav-ul-two li.nav-li-two{width:100%;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one ul.nav-ul-two li.nav-li-two a{ display:block; border-bottom: 1px solid #fff;width:100%;}
.pj-top .pj-nav ul.nav-ul-one li.nav-li-one ul.nav-ul-two li.nav-li-two a:hover{color:red;background:none;}

.pj-top .pj-search{ height:31px;width:263px; position:absolute; top:90px;right:0px;}
.pj-top .pj-search .pj-search-box{ height:30px; border:1px solid #ddd;border-radius:4px;}
.pj-top .pj-search .pj-search-box .pj-search-box-input{ float:left;border-right:1px solid #ddd;}
.pj-top .pj-search .pj-search-box .pj-search-box-input input{ border:none; background:none; height:24px;line-height:24px; width:200px;padding:3px 5px}
.pj-top .pj-search .pj-search-box .pj-search-box-btn{ float:left;}
.pj-top .pj-search .pj-search-box .pj-search-box-btn input{ width:50px; height:30px; border:0px; background:none; padding:0px; margin:0px; text-align:center; background:#efefef; color:#666;}

.pj-bodyer{ padding:15px 0px;}
.pj-article-list{ width:685px;}
.pj-article-content{ 
    width:655px;float:left;margin-bottom:15px;
    padding:10px 15px;border:1px solid #ccc;border-radius:4px;}
.pj-article-content h1{
    font-size:15px; color:#08d;font-weight:normal;padding-bottom:5px;border-bottom:1px dashed #ccc;}
.pj-article-content h1 a{color:#08d;}
.pj-article-content h1 a:hover{color:red;}
.pj-article-content .pj-content{ padding-top:10px;line-height:22px;font-size:13px;}
.pj-article-content .pj-content p{ margin-bottom:8px;}

.pj-article-content .pj-article-infos{
    height:24px;line-height:24px;padding-top:5px;color:#888;}
.pj-article-content .pj-article-infos a{color:#888;}
.pj-article-content .pj-article-infos a:hover{color:#08d;}
.pj-article-content .pj-article-infos .date,.tags,.category{ margin-right:10px;}
.pj-article-content .pj-article-infos .tags a{margin-right:5px;}
.pj-article-content .pj-article-infos .more{ float:right;}
.pj-article-content .information{ padding-top:5px;color:#888;}
.pj-article-content .information a{color:#888;}
.pj-article-content .information a:hover{color:#08d;}

.pj-content-nav{
    float:left;padding:8px 0px 2px 0px;margin-top:10px;width:650px;border-top:1px dashed #ccc;}
.pj-content-nav .l{float:left;}
.pj-content-nav .r{float:right;}

.pj-article-pagebar {width:100%;}
.pagebar{float:right;}
.pj-article-pagebar a{;}
.pj-article-pagebar span { 
    line-height:23px;padding:1px 6px;margin-left:8px;border:1px solid #ccc;border-radius:3px;}
.pj-article-pagebar span:hover{text-decoration: none;background:#08d;color:#fff;}

.pj-sidebar{ width:280px;}
.pj-sidebar .pj-sidepannel{ 
    padding:10px 15px;margin-bottom:20px;border:1px solid #ccc;border-radius:4px;}
.pj-sidebar .pj-sidepannel h3{ 
    padding-bottom:5px;font-size:15px; font-weight:normal;
    border-bottom:1px dashed #ccc;}
.pj-sidebar .pj-sidepannel ul{ padding:8px 0px 5px 0px;text-align:left;}
.pj-sidebar .pj-sidepannel ul li{ 
    height:22px; line-height:22px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width:250px;float:left;}
.pj-sidebar .pj-sidepannel ul li a:link, .pj-sidebar .pj-sidepannel ul li a:visited{;}
.pj-sidebar .pj-sidepannel ul li a:hover{ text-decoration:none;}

.relate{
    float:left;padding:10px 15px;width:655px;
    border:1px solid #ccc;border-radius:4px;margin-bottom:15px;}
.relate h3{
    padding-bottom:5px;font-size:15px; font-weight:normal;
    border-bottom:1px dashed #ccc;}
.relate ul{padding:8px 0px 5px 0px;}
.relate ul li{
    width:50%;float:left;height:22px; line-height:22px;
    overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.comments{
    float:left;padding:10px 15px;width:655px;
    border:1px solid #ccc;border-radius:4px;}
.comments .comment-title{ margin:5px 0px 10px 0px;}
.comments .comment-title h3{font-weight:normal; font-size:15px;}
.comments .comment-list{}
.comments .comment-list ul{}
.comments .comment-list ul li{ padding:15px 0px; border-top:1px dashed #ccc;}
.comments .comment-list ul li:hover{ background:#fafafa;}

.comments .comment-list ul li .img{ width:50px; height:50px; overflow:hidden; margin-right:10px;}
.comments .comment-list ul li .img img{ width:48px; height:48px;border:1px solid #ccc; border-radius:4px;}
.comments .comment-list ul li .comment-content{ width:595px;;}
.comments .comment-list ul li .comment-content .comment-who{
    font-weight:normal;height:25px; line-height:25px;}
.comments .comment-list ul li .comment-content .comment-who .comment-who-time{ 
    font-weight:normal; display:block; padding:0px 20px; background:#efefef; border-radius:4px;}
.comments .comment-list ul li:hover .comment-content .comment-who .comment-who-time{ background:#ccc;}
.comments .comment-list ul li:hover .img img{ box-shadow:0px 0px 5px #fff;}
.comments .comment-list ul li .comment-content .comment-des{  margin-top:5px;}
.comments .comment-list ul li .comment-content .actiontools{ margin-top:5px; }
.comments .comment-list ul li .comment-content .actiontools a{ margin-right:10px;}
.comments .comment-list ul li .comment-content .actiontools a:link, .comments .comment-list ul li .comment-content .actiontools a:visited{ color:#08d;}
.comments .comment-list ul li .comment-content .actiontools a:hover{ color:red;}

.comments .comment-list ul li .comment-items{ 
    margin-top:10px; border:1px solid #ccc;padding:15px 15px 0px 15px;border-radius:4px;}
.comments .comment-list ul li .comment-items .cimg{ width:40px; height:40px; margin-right:10px;}
.comments .comment-list ul li .comment-items .cimg img{width:38px; height:38px;border:1px solid #ccc; border-radius:3px;}
.comments .comment-list ul li .comment-items .ccontent{width:508px;}
.comments .comment-list ul li .comment-items .ccontent .cwho{ 
    float:left;font-size:12px; font-weight:normal;height:20px; line-height:20px;}
.comments .comment-list ul li .comment-items .ccontent .cinfo{ 
    float:right;height:20px; line-height:20px;}
.comments .comment-list ul li .comment-items .ccontent .cdes{margin-top:22px;}
.comments .comment-list ul li .comment-items .cline{ margin-bottom:15px;}

.postcommentzone{ background:#fff;border:1px solid #ccc; box-shadow:0px 0px 5px #ccc; padding:15px;}
.postcommentzone .text{margin-bottom:10px;height:24px;line-height:24px;}
.postcommentzone .textarea{ margin:5px 0px;}
.postcommentzone .textarea textarea{ border:1px solid #ccc; width:400px; height:100px;}
.postcommentzone .submit{ margin-top:10px;}
.postcommentzone .submit input{ 
    border:1px solid #ccc;border-radius:4px; background:none;padding:5px 13px;margin-right:5px;}

.postreplyform .text{margin-bottom:10px;height:24px;line-height:24px;}
.postreplyform .textarea{ margin:5px 0px;}
.postreplyform .textarea textarea{ border:1px solid #ccc; width:400px; height:100px;}
.postreplyform .submit{ margin-top:10px;}
.postreplyform .submit input{ 
    border:1px solid #ccc;border-radius:4px; background:none;padding:5px 13px;margin-right:5px;}

/* ============== CSS Document ============= */

::selection {color: #08d;background: #eee;}
::-moz-selection {color: #08d;background: #eee;}

a{color:#333;}
a:hover{color:#08d;text-decoration:none;}
a img { border:0;}

/* 防止自定义背景颜色的影响，添加可自定义字体 */
html {
    color: #333;text-shadow: 0 0 1px #fefefe
    background: #fff;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
form { margin:0;padding:0;}

/* 要注意表单元素并不继承父级font的问题 */
body, button, input, select, textarea {
    font: 13px/1.5 microsoft yahei,Verdana,Arial,Helvetica,sans-serif;
    font-weight:normal;outline:none;}
input, select, textarea { font-size: 100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0;padding: 0;font-family:microsoft yahei;}

/* 重设HTML5标签,IE需要在js中createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;font-family:microsoft yahei;}

/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video { display: inline-block;*display: inline;*zoom: 1;}

/* 去掉各Table  cell 的边距并让其边重合 */
table { border-spacing: 0;}

/* IE bug fixed: th 不继承 text-align*/
th { text-align: inherit;}

/* 去除默认边框 */
fieldset, img { border: 0;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe { display: block;}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym { border: 0;font-variant: normal;}

/* 一致的 del 样式 */
del{ text-decoration: line-through;}
address, caption, cite, code, dfn, em, th, var { font-style: normal;font-weight: 500;}

/* 去掉列表前的标识, li 会继承 */
ol, ul { list-style: none;}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th { text-align: left;}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight: 500;}
q:before, q:after { content: '';}

/* 统一上标和下标 */
sub, sup { font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup { top: -0.5em;}
sub { bottom: -0.25em;}

/* 默认不显示下划线，保持页面简洁 */
ins, a { text-decoration: none;outline:none;}

/* 清理浮动 */
.fn-clear:after { visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear { zoom: 1;/* for IE6 IE7 */}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide { display: none;}

/* 设置内联, 减少浮动带来的bug */
.fn-left, .fn-right { display: inline;}
.fn-left { float: left;}
.fn-right { float: right;}

/* 设置元素为内联*/
.fn-lump { display: inline-block;zoom: 1;*display: inline;}

/* 设置元素可见 */
.fn-visible { visibility: visible;}

/* 设置元素不可见 */
.fn-invisible { visibility: hidden;}

/* 文本强制断行 */
.fn-brk { word-wrap: break-word;word-break: break-all;}

/* 按钮及输入框 */
button, input, select, textarea {
	margin: 0;
	font-size: 100%;
	vertical-align: middle;
}
button, input {
 *overflow: visible;
	line-height: normal;
}
 button::-moz-focus-inner, input::-moz-focus-inner {
 padding: 0;
 border: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="search"] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-appearance: textfield;
}
 input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
 -webkit-appearance: none;
}
textarea {
	overflow: auto;
	vertical-align: top;
}